@import '../style/element-ui.css';
@import '../style/sidebar.css';


body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

#app {
    height: 100%;
}

.app-wrapper {
    height: 100%;
    display: flex;
}


#app .main-container {
    width: 100%;
}

#app .tags-view {
    border-bottom: 1px solid #d8dce5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
    padding: 4px 0;
}


#app .footer-container {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

